In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Study data files
yelp_path = "data/Final_Yelp_Data.csv"

# Read the mouse data and the study results
yelpers = pd.read_csv(yelp_path)

In [2]:
yelpers.head()

,Unnamed: 0,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price,Unnamed: 0.1
0,0,Y3HNUBQJHAzWnnhk3iReiA,junoon-flavors-of-india-sacramento-2,Junoon Flavors Of India,https://s3-media1.fl.yelpcdn.com/bphoto/P7Pzdg...,False,https://www.yelp.com/biz/junoon-flavors-of-ind...,20,"[{'alias': 'indpak', 'title': 'Indian'}]",5.0,"{'latitude': 38.570471, 'longitude': -121.4571...",[],"{'address1': '3672 J St', 'address2': None, 'a...",1.916943e+10,(916) 942-9796,1267.138005,NaN,NaN
1,1,9GhIDT1D_8-0ZxKDIB2WpA,shake-shack-sacramento,Shake Shack,https://s3-media3.fl.yelpcdn.com/bphoto/TxbovZ...,False,https://www.yelp.com/biz/shake-shack-sacrament...,168,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",3.0,"{'latitude': 38.568686, 'longitude': -121.487243}",['delivery'],"{'address1': '1710 R St', 'address2': 'Ste 190...",1.279321e+10,(279) 321-4002,3883.061550,NaN,NaN
2,2,LwiOfwMNDndIPm3QSh8wFQ,south-sacramento,South,https://s3-media3.fl.yelpcdn.com/bphoto/yHsuXv...,False,https://www.yelp.com/biz/south-sacramento?adju...,1590,"[{'alias': 'southern', 'title': 'Southern'}]",4.0,"{'latitude': 38.5687015705627, 'longitude': -1...",['delivery'],"{'address1': '2005 11th St', 'address2': '', '...",1.916383e+10,(916) 382-9722,4735.638709,$$,NaN
3,3,myoaFyZ9RIG_p2rkOQiWlA,fixins-soul-kitchen-sacramento-2,Fixins Soul Kitchen,https://s3-media4.fl.yelpcdn.com/bphoto/wVYnJG...,False,https://www.yelp.com/biz/fixins-soul-kitchen-s...,946,"[{'alias': 'soulfood', 'title': 'Soul Food'}, ...",4.5,"{'latitude': 38.55147, 'longitude': -121.46924}",['delivery'],"{'address1': '3428 3rd Ave', 'address2': '', '...",1.917000e+10,(916) 999-7685,3270.943674,$$,NaN
4,4,rQaH3Jr6BxFhX5pXa6W6_w,chando-s-tacos-sacramento,Chando’s Tacos,https://s3-media2.fl.yelpcdn.com/bphoto/yoraiB...,False,https://www.yelp.com/biz/chando-s-tacos-sacram...,14,"[{'alias': 'mexican', 'title': 'Mexican'}]",4.5,"{'latitude': 38.564075, 'longitude': -121.4340...",[],"{'address1': '5644 J St', 'address2': '', 'add...",1.916477e+10,(916) 476-6312,1210.413973,NaN,NaN

In [3]:
#compare each type of food and review count
df = pd.DataFrame(yelpers, columns = ['name', 'categories', 'review_count', 'rating', 'transactions', 'coordinates']) 

df.head()

,name,categories,review_count,rating,transactions,coordinates
0,Junoon Flavors Of India,"[{'alias': 'indpak', 'title': 'Indian'}]",20,5.0,[],"{'latitude': 38.570471, 'longitude': -121.4571..."
1,Shake Shack,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",168,3.0,['delivery'],"{'latitude': 38.568686, 'longitude': -121.487243}"
2,South,"[{'alias': 'southern', 'title': 'Southern'}]",1590,4.0,['delivery'],"{'latitude': 38.5687015705627, 'longitude': -1..."
3,Fixins Soul Kitchen,"[{'alias': 'soulfood', 'title': 'Soul Food'}, ...",946,4.5,['delivery'],"{'latitude': 38.55147, 'longitude': -121.46924}"
4,Chando’s Tacos,"[{'alias': 'mexican', 'title': 'Mexican'}]",14,4.5,[],"{'latitude': 38.564075, 'longitude': -121.4340..."

In [18]:
#geomap the restaurants with most reviews

df['lat'], df['long'] = df['coordinates'].str.split(',', 1).str
df['lat']= df['lat'].str.replace("{'latitude':", "")
df['long'] = df['long'].str.replace("'longitude': ", "").str.replace("}", "")
df[['long', 'lat']]= df[['long', 'lat']].astype(float, errors= "ignore")
df

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  This is separate from the ipykernel package so we can avoid doing imports until

,name,categories,review_count,rating,transactions,coordinates,lat,long
20,Ramen House Ryujin,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",2881,4.5,True,"{'latitude': 38.5674, 'longitude': -121.4857}",38.5674,-121.4857
15,Oz Korean BBQ,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",2647,4.0,True,"{'latitude': 38.56349, 'longitude': -121.33496}",38.56349,-121.33496
48,Iron Horse Tavern,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2435,4.0,True,"{'latitude': 38.5695762064691, 'longitude': -1...",38.5695762064691,-121.490668354958
40,Tres Hermanas,"[{'alias': 'mexican', 'title': 'Mexican'}]",2397,4.0,True,"{'latitude': 38.57369, 'longitude': -121.47456}",38.57369,-121.47456
350,Yard House,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2071,3.5,True,"{'latitude': 38.768878772817, 'longitude': -12...",38.768878772817,-121.26806509957
...,...,...,...,...,...,...,...,...
262,Sun Center Cafe,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.554607, 'longitude': -121.373375}",38.554607,-121.373375
468,Bacchanal Bistro & Wine Bar,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,False,"{'latitude': 38.74375, 'longitude': -121.25349}",38.74375,-121.25349
175,Leonardi's Pizza,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,False,"{'latitude': 38.741153717041, 'longitude': -12...",38.741153717041,-121.24925994873
162,Hall of Fame Bar & Grill,"[{'alias': 'newamerican', 'title': 'American (...",1,3.0,True,"{'latitude': 38.7098999, 'longitude': -121.291...",38.7098999,-121.2913132
494,Young Dong,"[{'alias': 'korean', 'title': 'Korean'}]",1,1.0,True,"{'latitude': 38.52425, 'longitude': -121.4971651}",38.52425,-121.4971651

In [19]:
df= df.sort_values("review_count", ascending= False)
top20= df.head(20)
top20[['long', 'lat']]= top20[['long', 'lat']].astype(float)
top20

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,categories,review_count,rating,transactions,coordinates,lat,long
20,Ramen House Ryujin,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",2881,4.5,True,"{'latitude': 38.5674, 'longitude': -121.4857}",38.567400,-121.485700
15,Oz Korean BBQ,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",2647,4.0,True,"{'latitude': 38.56349, 'longitude': -121.33496}",38.563490,-121.334960
48,Iron Horse Tavern,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2435,4.0,True,"{'latitude': 38.5695762064691, 'longitude': -1...",38.569576,-121.490668
40,Tres Hermanas,"[{'alias': 'mexican', 'title': 'Mexican'}]",2397,4.0,True,"{'latitude': 38.57369, 'longitude': -121.47456}",38.573690,-121.474560
350,Yard House,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2071,3.5,True,"{'latitude': 38.768878772817, 'longitude': -12...",38.768879,-121.268065
23,Sawasdee Thai Cuisine,"[{'alias': 'thai', 'title': 'Thai'}]",2021,4.5,True,"{'latitude': 38.576894, 'longitude': -121.481515}",38.576894,-121.481515
135,Ella Dining Room and Bar,"[{'alias': 'newamerican', 'title': 'American (...",1756,4.0,True,"{'latitude': 38.57887, 'longitude': -121.4914}",38.578870,-121.491400
352,Four Sisters Cafe,"[{'alias': 'breakfast_brunch', 'title': 'Break...",1749,4.5,True,"{'latitude': 38.784513, 'longitude': -121.266579}",38.784513,-121.266579
120,Fox & Goose,"[{'alias': 'breakfast_brunch', 'title': 'Break...",1729,3.5,True,"{'latitude': 38.5715283845259, 'longitude': -1...",38.571528,-121.496973
36,Public House Downtown,"[{'alias': 'newamerican', 'title': 'American (...",1705,4.0,True,"{'latitude': 38.576166714481, 'longitude': -12...",38.576167,-121.486356
37,The Coconut On T,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",1618,4.5,True,"{'latitude': 38.5685, 'longitude': -121.49658}",38.568500,-121.496580
2,South,"[{'alias': 'southern', 'title': 'Southern'}]",1590,4.0,True,"{'latitude': 38.5687015705627, 'longitude': -1...",38.568702,-121.497105
31,Paesanos,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",1550,4.0,True,"{'latitude': 38.573753, 'longitude': -121.483764}",38.573753,-121.483764
343,Lazy Dog Restaurant & Bar,"[{'alias': 'newamerican', 'title': 'American (...",1485,4.0,True,"{'latitude': 38.7750242, 'longitude': -121.275...",38.775024,-121.275245
33,The Firehouse Restaurant,"[{'alias': 'newamerican', 'title': 'American (...",1422,4.0,True,"{'latitude': 38.581539, 'longitude': -121.504931}",38.581539,-121.504931
341,My Thai Kitchen,"[{'alias': 'thai', 'title': 'Thai'}]",1389,4.0,True,"{'latitude': 38.7530926018765, 'longitude': -1...",38.753093,-121.251940
373,Topgolf,"[{'alias': 'newamerican', 'title': 'American (...",1350,4.0,False,"{'latitude': 38.79075, 'longitude': -121.295726}",38.790750,-121.295726
354,Zócalo,"[{'alias': 'mexican', 'title': 'Mexican'}]",1315,4.0,True,"{'latitude': 38.76814736, 'longitude': -121.26...",38.768147,-121.269764
340,The Chef's Table,"[{'alias': 'newamerican', 'title': 'American (...",1271,4.5,True,"{'latitude': 38.7964080881302, 'longitude': -1...",38.796408,-121.290667
265,Evan's Kitchen & Catering,"[{'alias': 'tradamerican', 'title': 'American ...",1186,4.0,True,"{'latitude': 38.5660479112045, 'longitude': -1...",38.566048,-121.432720

In [20]:
df= df.sort_values("review_count", ascending= False)
tail= df[df["review_count"]==1]
tail[['long', 'lat']]= tail[['long', 'lat']].astype(float)
tail

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,categories,review_count,rating,transactions,coordinates,lat,long
507,Virga's Restaurant Bar & Catering,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,4.0,False,"{'latitude': 38.5730133056641, 'longitude': -1...",38.573013,-121.490189
65,Outdoor Herbivore,"[{'alias': 'diyfood', 'title': 'Do-It-Yourself...",1,5.0,False,"{'latitude': 38.6095010505836, 'longitude': -1...",38.609501,-121.367493
506,Mango’s Burger Bar,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",1,4.0,False,"{'latitude': 38.575439, 'longitude': -121.480671}",38.575439,-121.480671
482,Las Cachanillas Restaurant,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",1,4.0,True,"{'latitude': 38.60733833, 'longitude': -121.47...",38.607338,-121.476527
451,Burger King,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",1,4.0,False,"{'latitude': 38.6665820275127, 'longitude': -1...",38.666582,-121.388769
246,Larosa's Sports Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,False,"{'latitude': 38.6421467, 'longitude': -121.383...",38.642147,-121.383989
460,Cafe 26,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",1,4.0,False,"{'latitude': 38.74887, 'longitude': -121.26598}",38.748870,-121.265980
480,Café Hoshi,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.5782404, 'longitude': -121.487...",38.578240,-121.487862
267,Fair Oaks Pizzeria,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,False,"{'latitude': 38.639, 'longitude': -121.27424}",38.639000,-121.274240
252,Classic Burgers,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,1.0,False,"{'latitude': 38.6098899841309, 'longitude': -1...",38.609890,-121.400833
405,Culinary Café,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.602794, 'longitude': -121.418647}",38.602794,-121.418647
50,Playa Linda Del Carmen,"[{'alias': 'latin', 'title': 'Latin American'}]",1,5.0,False,"{'latitude': 38.690579, 'longitude': -121.4565...",38.690579,-121.456554
238,3- N -1 BBQ,"[{'alias': 'bbq', 'title': 'Barbeque'}]",1,5.0,False,"{'latitude': 38.6270105, 'longitude': -121.445...",38.627010,-121.445811
535,La Boheme Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,4.0,False,"{'latitude': 38.57936, 'longitude': -121.49357}",38.579360,-121.493570
313,Five-Twenty Four Restaurant,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,2.0,False,"{'latitude': 38.6097235232592, 'longitude': -1...",38.609724,-121.475631
146,Baker Dozen 2,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,3.0,False,"{'latitude': 38.75193, 'longitude': -121.28109}",38.751930,-121.281090
162,Hall of Fame Bar & Grill,"[{'alias': 'newamerican', 'title': 'American (...",1,3.0,True,"{'latitude': 38.7098999, 'longitude': -121.291...",38.709900,-121.291313
175,Leonardi's Pizza,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,False,"{'latitude': 38.741153717041, 'longitude': -12...",38.741154,-121.249260
468,Bacchanal Bistro & Wine Bar,"[{'alias': 'pizza', 'title': 'Pizza'}]",1,5.0,False,"{'latitude': 38.74375, 'longitude': -121.25349}",38.743750,-121.253490
284,Chili's Catering,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",1,5.0,False,"{'latitude': 38.66264, 'longitude': -121.27263}",38.662640,-121.272630
262,Sun Center Cafe,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.554607, 'longitude': -121.373375}",38.554607,-121.373375
411,Riego Road Strawberry Stand,"[{'alias': 'markets', 'title': 'Fruits & Veggi...",1,5.0,False,"{'latitude': 38.71598, 'longitude': -121.41362}",38.715980,-121.413620
213,El Zacatecano,"[{'alias': 'newamerican', 'title': 'American (...",1,5.0,False,"{'latitude': 38.5069695, 'longitude': -121.470...",38.506969,-121.470070
205,La Croissant Park Cafe,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,5.0,False,"{'latitude': 38.5650634765625, 'longitude': -1...",38.565063,-121.408081
305,TACOS GTO,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",1,5.0,False,"{'latitude': 38.6451, 'longitude': -121.44154}",38.645100,-121.441540
494,Young Dong,"[{'alias': 'korean', 'title': 'Korean'}]",1,1.0,True,"{'latitude': 38.52425, 'longitude': -121.4971651}",38.524250,-121.497165

In [21]:
gmaps.configure(api_key=g_key)

In [22]:
# Using the template add the loc
info_box_template = """
<dl>
<dt>name</dt><dd>{name}</dd>
<dt>lat</dt><dd>{lat}</dd>
<dt>long</dt><dd>{long}</dd>
</dl>
"""
yelptop = [info_box_template.format(**row) for index, row in top20.iterrows()]
locations = top20[["lat", "long"]]

# use above variables for layer
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=yelptop)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#low 20
yelptail = [info_box_template.format(**row) for index, row in tail.iterrows()]
locations = tail[["lat", "long"]]

# use above variables for layer
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=yelptail)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#rating of 5 stars with at least 50 reviews
df= df.sort_values(["rating", "review_count"], ascending= False)
rate[['long', 'lat']]= rate[['long', 'lat']].astype(float, errors= "ignore")
rate= df.loc[(df["review_count"]>= 50) & (df["rating"]==5)]
rate1= rate.head(20)
rate1

,name,categories,review_count,rating,transactions,coordinates,lat,long
342,Guy's For Lunch,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",672,5.0,True,"{'latitude': 38.77181, 'longitude': -121.3106}",38.77181,-121.3106
359,Wally's Cafe,"[{'alias': 'mediterranean', 'title': 'Mediterr...",661,5.0,True,"{'latitude': 38.81001517, 'longitude': -121.28...",38.81001517,-121.28341383
351,Roundhouse Deli,"[{'alias': 'delis', 'title': 'Delis'}]",434,5.0,True,"{'latitude': 38.74832, 'longitude': -121.2914}",38.74832,-121.2914
334,Q1227 Restaurant,"[{'alias': 'newamerican', 'title': 'American (...",210,5.0,False,"{'latitude': 38.753483, 'longitude': -121.251975}",38.753483,-121.251975
5,Basha Taste of Jerusalem,"[{'alias': 'mediterranean', 'title': 'Mediterr...",138,5.0,True,"{'latitude': 38.5990521255, 'longitude': -121....",38.5990521255,-121.401932727
348,Fourk Kitchen,"[{'alias': 'tradamerican', 'title': 'American ...",79,5.0,Theft,"{'latitude': 38.85103, 'longitude': -121.28631}",38.85103,-121.28631
25,The Coconut River Park,"[{'alias': 'thai', 'title': 'Thai'}]",59,5.0,False,"{'latitude': 38.572999, 'longitude': -121.432858}",38.572999,-121.432858

In [28]:
gmaps.configure(api_key=g_key)

In [29]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>name</dt><dd>{name}</dd>
<dt>lat</dt><dd>{lat}</dd>
<dt>long</dt><dd>{long}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
rate1[['long', 'lat']]= rate1[['long', 'lat']].astype(float, errors= "ignore")

ratetop = [info_box_template.format(**row) for index, row in rate1.iterrows()]
locations = rate1[["lat", "long"]]
# use above variables for layer[]
#markers= gmaps.marker_layer(locations, hotel_info) #info_box_template)
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=ratetop)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
#ratings of 2 stars and below with at least 50 reviews
df= df.sort_values("review_count", ascending= False)
ratetail=df.head(20)
ratetail[['long', 'lat']]= ratetail[['long', 'lat']].astype(float)
ratetail= df.loc[(df["review_count"]>= 50) & (df["rating"]<= 2)]
ratetail

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,name,categories,review_count,rating,transactions,coordinates,lat,long
189,Popeyes Louisiana Kitchen,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",258,2.0,True,"{'latitude': 38.74381323181, 'longitude': -121...",38.74381323181,-121.2751935
477,Annabelle's Pizza & Pasta Kitchen,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",206,1.5,True,"{'latitude': 38.5827108425455, 'longitude': -1...",38.5827108425455,-121.504095700727
509,El Pollo Loco,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",168,2.0,True,"{'latitude': 38.4610820731243, 'longitude': -1...",38.4610820731243,-121.491896334425
186,Panda Express,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",137,2.0,True,"{'latitude': 38.750534, 'longitude': -121.308774}",38.750534,-121.308774
141,Popeyes Louisiana Kitchen,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",134,2.0,False,"{'latitude': 38.49475, 'longitude': -121.42788}",38.49475,-121.42788
501,McDonald's,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",130,1.5,True,"{'latitude': 38.556738, 'longitude': -121.539888}",38.556738,-121.539888
260,Dairy Queen,"[{'alias': 'icecream', 'title': 'Ice Cream & F...",129,2.0,True,"{'latitude': 38.5961005, 'longitude': -121.385...",38.5961005,-121.3856283
263,Denny's,"[{'alias': 'diners', 'title': 'Diners'}, {'ali...",127,2.0,True,"{'latitude': 38.6372734743688, 'longitude': -1...",38.6372734743688,-121.381732821465
401,Domino's Pizza,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",115,2.0,False,"{'latitude': 38.6514269166317, 'longitude': -1...",38.6514269166317,-121.503277122974
170,KFC,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",110,1.5,True,"{'latitude': 38.7274010609913, 'longitude': -1...",38.7274010609913,-121.271584228712
301,Wendy's,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",89,2.0,True,"{'latitude': 38.6788683082087, 'longitude': -1...",38.6788683082087,-121.268857181423
259,Pizza Hut,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",84,1.5,True,"{'latitude': 38.65654, 'longitude': -121.38406}",38.65654,-121.38406
165,Burger King,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",73,1.5,True,"{'latitude': 38.659236907959, 'longitude': -12...",38.659236907959,-121.347984313965
273,McDonald's,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",72,2.0,True,"{'latitude': 38.65991805901, 'longitude': -121...",38.65991805901,-121.347360312939
466,KFC,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",68,1.5,True,"{'latitude': 38.6781605949466, 'longitude': -1...",38.6781605949466,-121.264839936788
321,Wendy's,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",63,2.0,True,"{'latitude': 38.613323, 'longitude': -121.382343}",38.613323,-121.382343

In [36]:
#ratebottom[['long', 'lat']]= ratebottom[['long', 'lat']].astype(float, errors= "ignore")
ratebottom = [info_box_template.format(**row) for index, row in ratetail.iterrows()]
locations = ratetail[["lat", "long"]]

# use above variables for layer
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=ratebottom)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
df['transactions'] = df['transactions'].replace(
    {"['delivery']": "True", 
     "[]": "False",
     "['pickup', 'delivery']": "True", 
     "['delivery', 'pickup']": "True", 
     "['pickup']":  "False",
     "['restaurant_reservation', 'delivery']":"True", 
     "['restaurant_reservation', 'pickup', 'delivery']":"True",
     "['restaurant_reservation']":'Theft',
     "['restaurant_reservation', 'delivery', 'pickup']": "True",
    })
df

,name,categories,review_count,rating,transactions,coordinates,lat,long
20,Ramen House Ryujin,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",2881,4.5,True,"{'latitude': 38.5674, 'longitude': -121.4857}",38.5674,-121.4857
15,Oz Korean BBQ,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",2647,4.0,True,"{'latitude': 38.56349, 'longitude': -121.33496}",38.56349,-121.33496
48,Iron Horse Tavern,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2435,4.0,True,"{'latitude': 38.5695762064691, 'longitude': -1...",38.5695762064691,-121.490668354958
40,Tres Hermanas,"[{'alias': 'mexican', 'title': 'Mexican'}]",2397,4.0,True,"{'latitude': 38.57369, 'longitude': -121.47456}",38.57369,-121.47456
350,Yard House,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",2071,3.5,True,"{'latitude': 38.768878772817, 'longitude': -12...",38.768878772817,-121.26806509957
...,...,...,...,...,...,...,...,...
405,Culinary Café,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.602794, 'longitude': -121.418647}",38.602794,-121.418647
480,Café Hoshi,"[{'alias': 'cafes', 'title': 'Cafes'}]",1,5.0,False,"{'latitude': 38.5782404, 'longitude': -121.487...",38.5782404,-121.4878618
65,Outdoor Herbivore,"[{'alias': 'diyfood', 'title': 'Do-It-Yourself...",1,5.0,False,"{'latitude': 38.6095010505836, 'longitude': -1...",38.6095010505836,-121.367492973804
146,Baker Dozen 2,"[{'alias': 'restaurants', 'title': 'Restaurant...",1,3.0,False,"{'latitude': 38.75193, 'longitude': -121.28109}",38.75193,-121.28109
494,Young Dong,"[{'alias': 'korean', 'title': 'Korean'}]",1,1.0,True,"{'latitude': 38.52425, 'longitude': -121.4971651}",38.52425,-121.4971651

In [33]:
#trans= df[df["transactions"]== "True"]
trans= df.loc[(df["transactions"]== "True") & (df["rating"]== 5) & (df["review_count"]>= 50)]
trans

,name,categories,review_count,rating,transactions,coordinates,lat,long
342,Guy's For Lunch,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",672,5.0,True,"{'latitude': 38.77181, 'longitude': -121.3106}",38.77181,-121.3106
359,Wally's Cafe,"[{'alias': 'mediterranean', 'title': 'Mediterr...",661,5.0,True,"{'latitude': 38.81001517, 'longitude': -121.28...",38.81001517,-121.28341383
351,Roundhouse Deli,"[{'alias': 'delis', 'title': 'Delis'}]",434,5.0,True,"{'latitude': 38.74832, 'longitude': -121.2914}",38.74832,-121.2914
5,Basha Taste of Jerusalem,"[{'alias': 'mediterranean', 'title': 'Mediterr...",138,5.0,True,"{'latitude': 38.5990521255, 'longitude': -121....",38.5990521255,-121.401932727

In [37]:
#delivers

trans[['long', 'lat']]= trans[['long', 'lat']].astype(float, errors= "ignore")
transactions = [info_box_template.format(**row) for index, row in trans.iterrows()]
locations = trans[["lat", "long"]]

# use above variables for layer[]
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=transactions)
fig.add_layer(markers)
fig

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Figure(layout=FigureLayout(height='420px'))

In [38]:
translow= df.loc[(df["transactions"]== "True") & (df["rating"]<= 2) & (df["review_count"]>= 50)]
translow

,name,categories,review_count,rating,transactions,coordinates,lat,long
189,Popeyes Louisiana Kitchen,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",258,2.0,True,"{'latitude': 38.74381323181, 'longitude': -121...",38.74381323181,-121.2751935
477,Annabelle's Pizza & Pasta Kitchen,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",206,1.5,True,"{'latitude': 38.5827108425455, 'longitude': -1...",38.5827108425455,-121.504095700727
509,El Pollo Loco,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",168,2.0,True,"{'latitude': 38.4610820731243, 'longitude': -1...",38.4610820731243,-121.491896334425
186,Panda Express,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",137,2.0,True,"{'latitude': 38.750534, 'longitude': -121.308774}",38.750534,-121.308774
501,McDonald's,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",130,1.5,True,"{'latitude': 38.556738, 'longitude': -121.539888}",38.556738,-121.539888
260,Dairy Queen,"[{'alias': 'icecream', 'title': 'Ice Cream & F...",129,2.0,True,"{'latitude': 38.5961005, 'longitude': -121.385...",38.5961005,-121.3856283
263,Denny's,"[{'alias': 'diners', 'title': 'Diners'}, {'ali...",127,2.0,True,"{'latitude': 38.6372734743688, 'longitude': -1...",38.6372734743688,-121.381732821465
170,KFC,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",110,1.5,True,"{'latitude': 38.7274010609913, 'longitude': -1...",38.7274010609913,-121.271584228712
301,Wendy's,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",89,2.0,True,"{'latitude': 38.6788683082087, 'longitude': -1...",38.6788683082087,-121.268857181423
259,Pizza Hut,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",84,1.5,True,"{'latitude': 38.65654, 'longitude': -121.38406}",38.65654,-121.38406
165,Burger King,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",73,1.5,True,"{'latitude': 38.659236907959, 'longitude': -12...",38.659236907959,-121.347984313965
273,McDonald's,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",72,2.0,True,"{'latitude': 38.65991805901, 'longitude': -121...",38.65991805901,-121.347360312939
466,KFC,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",68,1.5,True,"{'latitude': 38.6781605949466, 'longitude': -1...",38.6781605949466,-121.264839936788
321,Wendy's,"[{'alias': 'burgers', 'title': 'Burgers'}, {'a...",63,2.0,True,"{'latitude': 38.613323, 'longitude': -121.382343}",38.613323,-121.382343

In [39]:
#delivers
translow[['long', 'lat']]= translow[['long', 'lat']].astype(float, errors= "ignore")

translowest = [info_box_template.format(**row) for index, row in translow.iterrows()]
locations = translow[["lat", "long"]]

# use above variables for layer[]
fig = gmaps.figure()

markers= gmaps.marker_layer(locations, info_box_content=translowest)
fig.add_layer(markers)
fig

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Figure(layout=FigureLayout(height='420px'))

In [40]:
#no delivery
nodelivr= df.loc[(df["transactions"]== "False") & (df["rating"]== 5) & (df["review_count"]>= 50)]
nodelivr

,name,categories,review_count,rating,transactions,coordinates,lat,long
334,Q1227 Restaurant,"[{'alias': 'newamerican', 'title': 'American (...",210,5.0,False,"{'latitude': 38.753483, 'longitude': -121.251975}",38.753483,-121.251975
25,The Coconut River Park,"[{'alias': 'thai', 'title': 'Thai'}]",59,5.0,False,"{'latitude': 38.572999, 'longitude': -121.432858}",38.572999,-121.432858

In [41]:
nodelivr5star= df.loc[(df["transactions"]== "False") & (df["rating"]<=2) & (df["review_count"]>= 50)]
nodelivr5star

,name,categories,review_count,rating,transactions,coordinates,lat,long
141,Popeyes Louisiana Kitchen,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...",134,2.0,False,"{'latitude': 38.49475, 'longitude': -121.42788}",38.49475,-121.42788
401,Domino's Pizza,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",115,2.0,False,"{'latitude': 38.6514269166317, 'longitude': -1...",38.6514269166317,-121.503277122974